@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.recent-cards {
  display: flex;
  flex-wrap: wrap;
}

/*movie cards and containers*/
.card-style {
  background-color: #282828;
  border-color: #404040;
  border-width: 3px;
  width: 18rem;
  text-align: center;
  color: #ffffff;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  gap: 10px
}
.image-container {
  display: flex;
  justify-content: center;
}

.center-image {
  width: 100%; 
  height: auto;
}
.card-container > div {
  width: 75%; 
  max-width: 400px; 
}
.card-style img {
  width: 100%;
  max-width: 100%; 
  height: auto; 
}

/*Review cards and containers*/
.reviewCard {
  width: 90%;
  background: white;
  border-radius: 5px;
  display: flex;
  .reviewHead {
    display: flex;
  }
}

.reviewCard-container{
  align-items: center;
  display: flex;
  }

  .profile-reviews-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .reviews-container {
    display: flex;
    gap: 10px;
    margin: 20px auto;
  }

  /*User page and User profile*/
.userImageReview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px;
}

.formStars {
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  margin: 0 auto 0 0;
  width: 130px;
  display: flex;
  justify-content: space-evenly;
}

.star {
  background: none;
  border: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.goldstar {
  color: goldenrod;
}

.graystar {
  color: darkgray;
}

.profile-reviews-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-container{
  color: white;
}
/*Navbar*/
.signout-container {
  position: relative;
}
.signOutButton {
  position: absolute;
  right: 1px;
  margin-left: auto; 
}

.rec-card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 5px;
  color: lightgray;
  button {
    position: absolute;
    border-radius: 50%;
    color: inherit;
    margin: 5px;
    width: 40px;
    height: 40px;
    background: gray;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 5px 0;
    box-shadow: 1px 1px 3px black;
  }
  button:hover {
    background: darkgray;
    color: gray;
    font-size: 24px;
  }
  .rec-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
  }
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 4;
    background: rgba(128, 128, 128, 0.774);
    text-align: center;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 1px 1px 3px black;
  }
  .rec-title {
    top: 5px;
    right: 5px;
    width: 66%;
  }
  .rec-users {
    bottom: -10px;
    left: 5px;
    font-size: 10px;
  }
}

.recommended-group {
  border-top: 2px gray solid;
  padding: 10px 0;
  display: flex;
  width: 100%;
  position: relative;
  h4 {
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 4;
    width: 390px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(128, 128, 128, 0.774);
    text-align: center;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 1px 1px 3px black;
    color: lightgray;
  }
  .all-recs {
    display: flex;
    flex-flow: row wrap;
  }
}
