@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Poppins&family=Space+Grotesk:wght@300..700&display=swap');

html,
body {
  padding: 0;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
}

h1 {
  font-family: 'Barlow Condensed' !important;;
}
h4 {
  font-family: 'Barlow Condensed' !important;
}

/* page containers */

.general-cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 5%;
}

/*movie cards and containers*/
.card-style {
  background-color: #121212;
  text-align: center;
  color: #ffffff;
  border-style: none;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25px;
  gap: 10px
}
.image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center-image {
  width: 100%; 
  height: auto;
}
.card-container > div {
  width: 75%; 
  max-width: 400px; 
}
.card-style img {
  width: 100%;
  max-width: 100%; 
  height: auto; 
  border-radius: 15px;
}
.card-style img:hover {
  border-color: #10e5b2;
  border-width: 3px;
  border-radius: 15px;
  border-style: solid;
}

.card-genres {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2px;
}

.card-individual-genre {
  border-style: solid;
  border-color: #10e5b2;
  border-width: 2px;
  border-radius: 25px;
  color: #10e5b2;
  width: 75px;
}

.card-btns-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.card-btn {
  background-color: #683ce4;
  border-radius: 25px;
  width: 100%;
}

/* Movie Details Page */

.details-header-container {
  margin: 5%;
  padding: 10px;
  gap: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  .details-image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .btn {
        background-color: #121212 !important;
        border-style: none;
        border-radius: 50%;
      }
    }
  }
}



/*Review cards and containers*/
.reviewCard-details-container {
  display: flex;
  direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.reviewCard {
  width: 90%;
  background: #31363F;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  .reviewHead {
    display: flex;
    flex-direction: column;
  }
}
.stars-header {
  display: flex;
  flex-direction: row;
}
.review-card-info-container {
  display: flex;
  flex-direction: column;
}
.reviewCard-container{
  align-items: center;
  display: flex;
  }

  .profile-reviews-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .reviews-container {
    display: flex;
    gap: 10px;
    margin: 20px auto;
  }

  /*User page and User profile*/
.userImageReview {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px;
}

.review-card-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .review-card-btn {
    background-color: #31363F;
    border-style: none;
  }
}

.formStars {
  border: 1px solid black;
  border-radius: 5px;
  background: black;
  margin: 0 auto 0 0;
  width: 130px;
  display: flex;
  justify-content: space-evenly;
}

.star {
  background: none;
  border: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.goldstar {
  color: #10e5b2;
}

.graystar {
  color: darkgray;
}

.profile-reviews-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-container{
  color: white;

}

/*Navbar*/

.navbar {
  background-color: none;

  .signout-container {
    position: relative;
  }

  .signOutButton {
    position: absolute;
    right: 1px;
    margin-left: auto; 
  }
  
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .search-bar {
    background-color: #181818 !important;
    border-style: solid;
    border-radius: 50px;
    border-color: #b3b3b3;
    .form {
      background-color: #181818 !important;
      border-style: none;
      border-radius: 50px;
      color: #b3b3b3;
    }
  }
}

.rec-card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 5px;
  color: lightgray;
  button {
    position: absolute;
    border-radius: 50%;
    color: inherit;
    margin: 5px;
    width: 40px;
    height: 40px;
    background: gray;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 5px 0;
    box-shadow: 1px 1px 3px black;
  }
  button:hover {
    background: darkgray;
    color: gray;
    font-size: 24px;
  }
  .rec-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
  }
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 4;
    background: rgba(128, 128, 128, 0.774);
    text-align: center;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 1px 1px 3px black;
  }
  .rec-title {
    top: 5px;
    right: 5px;
    width: 66%;
  }
  .rec-users {
    bottom: -10px;
    left: 5px;
    font-size: 10px;
  }
}

.recommended-group {
  border-top: 2px gray solid;
  padding: 10px 0;
  display: flex;
  width: 100%;
  position: relative;
  h4 {
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 4;
    width: 390px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(128, 128, 128, 0.774);
    text-align: center;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 1px 1px 3px black;
    color: lightgray;
  }
  .all-recs {
    display: flex;
    flex-flow: row wrap;
  }
}
